<div class="container">
  <div class="row border border-dark my-5">
    <div class="col-md-12 my-5 d-flex justify-content-evenly">
      <input type="text" [(ngModel)]="fruitName">
      <button class="btn btn-primary" (click)="addFruit()">Add Fruit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron d-flex bg-warning my-5 text-dark d-flex justify-content-md-around rounded">
        <h2>ID</h2>
        <h2>Fruit</h2>
        <h2>Benefits</h2>
        <h2>Type</h2>
        <h2>Vitamins</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron d-flex bg-dark text-center my-5 text-white d-flex justify-content-md-around rounded"
          *ngFor="let fruit of fruits; let i = index">
          <h2>{{i+1}}</h2>
          <h1>{{fruit.name}}</h1>
          <p fruitBenefits style="display: none" class="rounded text-dark fw-bold text-center my-2 px-3">
            {{fruit.benefits}}</p>
          <h2 fruitBenefits class="rounded text-dark fw-bold text-center my-2 px-3">{{fruit.type}}</h2>
          <h2 class="bg-primary px-2 py-2 rounded text-center">{{i+1 | vitamin}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>